

.login-form {
    width: 600px; 
    padding: 20px;
    background-color: #f4f2f2; 
    border-radius: 30px;
    
}

.tab {
  overflow: hidden;
  border-bottom: 2px solid #ddd;
}

.tablinks {
  float: left;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: #666;
  transition: background-color 0.3s;
}

.tablinks:hover {
  background-color: #f1f1f1;
}

.activeTab {
  background-color: #007bff;
  color: #fff;
}

.logoutButton {
  float: right;
  padding: 14px 16px;
  border: none;
  background-color: #dc3545;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logoutButton:hover {
  background-color: #c82333;
}
