.TextBtnCSS{
    color : lightblue;
    background-color:aliceblue;
    font-size: 70px;
    border: 10px solid black;
    font-family: 'Courier New', Courier, monospace;

}

.ColorBtnCSS{
    color:aliceblue;
    font-size: 20px;
    border-color:black;
    
}

.TextBtnCSS1{
    color :bisque;
    background-color:aliceblue;
    font-size: 70px;
    border: 10px solid chartreuse;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-transform: uppercase;
}
